{% extends 'base.html' %}
{% block content %}
{% if posts %}
{% for post in posts %}
<div class="row">
    <div class="col s12">
        <div class="card white hoverable">
            <div class="card-content">
                <p>{{ post.body|striptags|truncate }}</p>
            </div>
            <div class="card-action">
                <a><span class="chip">{{ post.category.name }}</span></a>
                <span class="right chip">{{ moment(post.timestamp).format('lll') }}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}